@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1300px;
    }
}

.primary-color,
.theme-color,
a:focus,
a:hover,
a:active {
    color: #014e4e;
}

.primary-bg,
.theme-bg {
    background-color: #014e4e;
}

.border-shape-top:before,
.border-shape-top-left:before {
    background: linear-gradient(to bottom, #014e4e -24%, rgb(58 123 213 / 0));
}

.border-shape-top:after,
.border-shape-top-left:after {
    background: linear-gradient(to top, #014e4e 0, rgb(58 123 213 / 0));
}

.footer-widget.contact-widget:before {
    background: linear-gradient(to right, #014e4e 0, rgb(184 151 128 / 6%));
}

.section-title-wrapper span.elementor-divider-separator {
    border-image: linear-gradient(to right, #014e4e, rgb(58 123 213 / 0));
    border-image-slice: 1;
}

.rtl .section-title-wrapper span.elementor-divider-separator {
    border-image: linear-gradient(to left, #014e4e, rgb(58 123 213 / 0));
    border-image-slice: 1;
}

.team-wrapper.team-style-default .team-inner .post-thumb:before {
    background: linear-gradient(to top, #014e4e -152%, 255, 255, 255, 0);
}

.bookly-progress-tracker .step {
    background-color: rgba(1, 78, 78, 0.25);
}

.portfolio-classic-bg:after,
.portfolio-classic-bg-up:after,
.service-style-modern .service-inner .post-thumb:after {
    background-image: linear-gradient(
        178deg,
        rgba(1, 78, 78, 0.48) 0,
        #014e4e 100%
    );
}

.calendar_wrap th,
tfoot td,
ul.nav.wp-menu > li > a:before,
ul[id^="nv-primary-navigation"] li.button.button-primary > a,
.menu li.button.button-primary > a,
span.animate-bubble-box:after,
span.animate-bubble-box:before,
::selection,
.owl-carousel button.owl-dot.active,
.content-widgets .widget .menu-service-sidebar-menu-container ul > li > a:after,
.comments-pagination.pagination .page-numbers.current,
.portfolio-meta ul.nav.social-icons > li > a:hover,
span.cea-popup-modal-dismiss.ti-close,
blockquote:after,
.wp-block-quote.is-large:after,
.wp-block-quote.is-style-large:after,
.wp-block-quote.is-style-large:not(.is-style-plain):after,
.wp-block-quote.has-text-align-right:after,
.wp-block-quote:after,
p.quote-author::before,
nav.post-nav-links .post-page-numbers.current,
blockquote cite::before,
.page .comments-wrapper.section-inner input.submit,
.widget-area-right .widget p.wp-block-tag-cloud a.tag-cloud-link:hover,
.widget .tagcloud > a:hover,
.widget .tagcloud > a:focus,
.widget .tagcloud > a:active,
.section-title-wrapper.title-theme .title-wrap > *.sub-title:after,
.cea-tab-elementor-widget.tab-style-2.cea-vertical-tab
    a.nav-item.nav-link:before,
.portfolio-single .portfolio-video.post-video-wrap .video-play-icon,
.portfolio-wrapper.portfolio-style-default .isotope-filter ul.nav li a:before,
.isotope-filter ul.nav.m-auto.d-block li.active a,
.call-us-team a.cea-button-link:hover,
.call-us-team a.cea-button-link span.cea-button-num,
.elementor-widget-ceaposts .blog-style-classic-pro .blog-inner .post-date a,
.widget-area-left .contact-widget-info > p > span.bi,
.hirxpert-content-wrap .post-tag > a:hover,
.widget-area-right .contact-widget-info > p > span.bi,
.portfolio-style-default .portfolio-inner .post-thumb:before,
.portfolio-single .portfolio-sub-title,
.testimonial-wrapper.testimonial-style-default
    .owl-item
    .testimonial-inner:hover:before,
.timeline > li > .timeline-sep-title:before,
.feature-box-style-5 .feature-box-wrapper .fbox-number,
.header-navbar a.h-phone:before,
.portfolio-style-classic .post-thumb.post-overlay-active:before,
.bottom-meta .post-more:before,
.blog-style-classic-pro .blog-inner ul.nav.top-meta-list li:before,
.wp-block-file__button.wp-element-button,
p.wp-block-tag-cloud a.tag-cloud-link:hover,
.event-inner ul.nav.top-meta-list .post-date:before,
a.hirxpert-toggle > span:first-child:before,
a.hirxpert-toggle > span:last-child:before,
a.hirxpert-toggle > span:nth-child(2):before,
.team-wrapper.team-style-classic .team-inner:after,
.cea-tab-elementor-widget .cea-tabs > a .cea-tab-title:before,
.event-style-default .event-inner .event-address,
.event-info-wrap h4,
.charitable-donation-form .donation-amounts .donation-amount.selected label,
aside.footer-widget-2 h5:before,
.widget .widgettitle:before,
.widget .widget-title:before,
.widget-area-right .wp-block-group__inner-container h1:before,
.widget-area-right .wp-block-group__inner-container h2:before,
.widget-area-right .wp-block-group__inner-container h3:before,
.widget-area-right .wp-block-group__inner-container h4:before,
.widget-area-right .wp-block-group__inner-container h5:before,
.widget-area-right .wp-block-group__inner-container h6:before,
.widget-area-left .widget .widget-title:before,
.owl-dots button.owl-dot,
.single-post ul.nav.post-meta > li.post-category:before,
.team-wrapper.team-style-classic .team-inner:before,
.portfolio-style-classic .post-thumb.post-overlay-active:after,
.elementor-widget-ceaposts .blog-inner .read-more:before,
.bottom-meta .post-more .read-more:before,
.portfolio-style-classic .portfolio-inner .post-overlay-items .post-icons a,
.hirxpert-masonry .top-meta-wrap ul.nav.post-meta > li:before,
.blog .hirxpert-masonry .post-meta .post-more a:before,
.hirxpert-masonry .bottom-meta-wrap .post-meta .post-more a:before,
.wp-block-columns.footer-call-to-action,
.feature-box-default .cea-button-wrapper .cea-button-link:before,
.portfolio-style-classic .portfolio-inner .post-title-head .post-title:before,
.portfolio-style-classic-pro .portfolio-inner .post-overlay-items .post-icons a,
.portfolio-style-modern .portfolio-inner .post-overlay-items .post-icons a,
.cus-box-1
    .feature-box-classic-pro
    .feature-box-inner
    .cea-button-content-wrapper
    .cea-button-text:before,
.portfolio-style-default .portfolio-inner .post-overlay-items .post-icons a,
.portfolio-style-default .portfolio-inner .post-category a,
.btn-black .cea-button-wrapper .cea-button-link:hover:after,
.comment-body .reply a.comment-reply-link:hover,
.blog-style-classic .blog-inner .top-meta,
.blog-style-modern.blog-normal-model .blog-inner .top-meta .post-date,
.team-style-default .team-inner:hover .post-overlay-items > .team-social-wrap,
.team-style-default
    .team-inner:hover
    .post-overlay-items
    > .team-social-wrap
    > ul,
.blog-style-default.blog-normal-model .blog-inner .top-meta,
.content-widgets-wrapper .widget_categories ul li a:before,
.content-widgets-wrapper .widget_archive ul li a:before,
.footer-widgets-wrap .widget_archive ul li a:before,
.footer-widgets-wrap .widget_categories ul li a:before,
.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale,
.woocommerce ul.products li.product a.added_to_cart.wc-forward:hover,
.woocommerce ul.products li.product .button,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce #content input.button,
.woocommerce button.button.alt,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce input.button.alt,
.woocommerce input.button.disabled,
.woocommerce input.button:disabled[disabled],
.cart_totals .wc-proceed-to-checkout a.checkout-button,
.single-product.woocommerce .restaurt_ajax_add_to_cart,
.woocommerce-MyAccount-navigation > ul li a:hover,
.woocommerce-account .woocommerce-MyAccount-navigation > ul li.is-active a,
.wp-block-woocommerce-customer-account
    a
    .wc-block-customer-account__account-icon,
.wc-block-mini-cart__badge,
.content-widgets-outer-wrapper .wc-block-grid .wc-block-grid__product-onsale,
ul.nav.pagination.post-pagination > li > a,
.service-wrapper.service-style-default .service-icon-img-wrap,
.service-style-modern .service-inner .post-overlay-items .post-category a,
.portfolio-style-classic
    .portfolio-inner
    .post-overlay-items
    .post-icons
    a:hover,
.team-style-modern.team-slide-model
    .owl-carousel
    .owl-nav
    button.owl-prev:hover,
.team-style-modern.team-slide-model
    .owl-carousel
    .owl-nav
    button.owl-next:hover,
.single .row.team,
.single.single-cea-team .team-other-details .team-details-icon,
.elementor-progress-percentage,
header.site-header ul.nav.wp-menu li > ul.sub-menu li a:before,
.widget-area-right .zozo_social_widget ul.nav.social-icons > li > a:hover,
.hirxpert-masonry .top-meta-wrap .post-date:hover,
.single .hirxpert-content-wrap .post-inner .post-date:hover,
.single.single-cea-service
    aside.content-widgets-outer-wrapper
    .widget-content
    .menu
    .menu-item
    a,
blockquote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-quote.is-style-large:not(.is-style-plain),
.wp-block-quote.has-text-align-right,
.wp-block-quote,
.zozo-hf .zhf-menu-wrap .zhf-nav-menu .sub-menu > li > a:before,
.portfolio-style-classic-pro
    .portfolio-inner:hover
    .post-details-outer
    .top-meta
    .post-category
    a:hover {
    background-color: #014e4e;
}

.theme-color-bg,
.icon-theme-color-bg,
.flip-box-wrapper:hover .icon-theme-hcolor-bg,
.contact-info-style-classic-pro .contact-info-title,
.contact-info-wrapper.contact-info-style-classic:before,
.testimonial-wrapper.testimonial-style-modern .testimonial-inner:after,
.isotope-filter ul.nav li.active a:after,
.isotope-filter ul.nav li a:after,
.blog-wrapper.blog-style-modern .blog-inner .top-meta .post-category,
.blog-wrapper .post-overlay-items .post-date a,
.event-style-classic .top-meta .post-date,
.blog-layouts-wrapper .post-overlay-items .post-date a,
.portfolio-content-wrap .portfolio-title h3,
.back-to-top:after,
span.zozo-product-favoured,
.charitable-donation-form .custom-donation-amount-wrapper label,
.campaign-progress-bar .bar,
.donate-button,
.charitable-donation-amount-form .donation-amount.selected,
.campaign-progress-bar .bar,
.donate-button,
.charitable-donation-amount-form .donation-amount.selected,
.blog .hirxpert-masonry .post-meta .post-more a:hover:before,
.hirxpert-masonry .bottom-meta-wrap .post-meta .post-more a:hover:before {
    background-color: #014e4e !important;
}

.full-search-wrapper .search-form .input-group .btn:hover,
.testimonial-style-list .testimonial-inner:after,
ul.nav.post-meta > li span,
.comment-metadata time,
.comments-wrap span:before,
.comment-body .reply a.comment-reply-link,
.blog .hirxpert-masonry .post-meta .post-more a,
h2.entry-title a:hover,
.woocommerce-message::before,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
ul.pricing-features-list.list-group li:before,
.doc-icon,
.sidebar-broucher .icon-box a:hover,
p.quote-author,
.feature-box-wrapper .fbox-content a:hover,
blockquote cite,
.wp-block-quote cite,
.wp-block-quote footer,
.bottom-meta-wrap ul.nav.post-meta > li.post-date a:hover,
.single-post
    .cus-img-menu
    .menu-item
    .widget
    .wp-block-image:hover
    figcaption
    a,
.single-post blockquote cite,
.single-post blockquote cite a,
.content-widgets-wrapper .widget_categories ul li a:before,
.content-widgets-wrapper .widget_archive ul li a:before,
.content-widgets-wrapper .wp-block-categories li a:before,
.cus-contact a:first-child,
.pagination-single-inner > h6 > a:hover span.title,
.hirxpert-masonry
    .bottom-meta-wrap
    .post-meta
    li.post-share-wrap
    .social-share
    a:hover
    i,
.post-share-wrap ul.social-share > li > a:hover > i,
.team-style-classic-pro .team-designation,
.hirxpert-masonry .bottom-meta-wrap .post-meta .post-more a:hover,
.widget-content-bx a i,
.widget-area-left .contact-widget-info > p a:hover,
.widget-area-right .contact-widget-info > p a:hover,
.testimonial-style-default .testimonial-inner::after,
.sticky-head.header-sticky .header-navbar a.h-phone:hover,
.contact-widget-info > p > span.bi,
.pricing-style-classic.pricing-table-wrapper:hover ul li:before,
.widget-area-right .zozo_social_widget ul.nav.social-icons > li > a,
.secondary-bar-inner .input-group-addon.zozo-mc.btn.btn-default,
.blog-style-classic-pro .post-author a:hover > span.author-name,
.contact-widget-info > p a:hover,
.insta-footer-wrap .sub-title,
.mobile-menu-floating
    ul.wp-menu
    ul.sub-menu
    li.menu-item.current-menu-ancestor.menu-item-has-children
    .sub-menu
    li.current-menu-item
    a,
.widget-content-bx.w-address .bi,
.campaign-loop.campaign-grid.campaign-grid-3 li.campaign a:hover h3,
.blog-layouts-wrapper .blog-multi-layout-1 .cea-block-secondary .top-meta a i,
.blog-layouts-wrapper .blog-multi-layout-1 .cea-block-primary .top-meta a i,
.widget-area-right .wp-block-group__inner-container h1:after,
.widget-area-right .wp-block-group__inner-container h2:after,
.widget-area-right .wp-block-group__inner-container h3:after,
.widget-area-right .wp-block-group__inner-container h4:after,
.widget-area-right .wp-block-group__inner-container h5:after,
.widget-area-right .wp-block-group__inner-container h6:after,
.widget-area-left .widget .widget-title:after,
aside.footer-widget-2 h5:after,
.widget .widgettitle:after,
.widget .widget-title:after,
blockquote:before,
.wp-block-quote.is-large:before,
.wp-block-quote.is-style-large:before,
.wp-block-quote.is-style-large:not(.is-style-plain):before,
.wp-block-quote.has-text-align-right:before,
.wp-block-quote:before,
.sticky-head.header-sticky .header-navbar .header-titles > *.site-title a:hover,
.single-cea-team .team-social-wrap ul.social-icons > li > a i,
.portfolio-style-classic .owl-carousel .owl-item:hover:before,
.flip-box-inner .cea-button-link.elementor-size-sm .cea-button-icon,
.elementor-widget-ceaposts .blog-style-modern .blog-inner .post-date a i,
.elementor-widget-ceaposts .blog-style-list .blog-inner .post-date a i,
.blog-style-default .blog-inner .author-name:hover,
.single.single-cea-team .team-other-details .media-body a:hover,
.single.single-cea-team
    .team-other-details
    .media-body
    span.team-experience:hover,
.feature-box-wrapper.feature-box-modern .fbox-content a:hover,
.feature-box-wrapper.feature-box-classic .fbox-content a:hover,
.team-style-classic .team-inner .team-designation,
.single
    aside.content-widgets-outer-wrapper
    .widget-content
    .menu-service-sidebar-menu-container
    li.current-menu-item
    a,
.zozo_social_widget ul.nav.social-icons > li > a:hover,
.woocommerce div ul.products li.product .price,
.shop_table.cart td.product-price .amount,
.shop_table.cart td.product-subtotal .amount,
.woocommerce table.shop_table td.product-name,
.woocommerce-info::before,
.shop_table tfoot td,
.woocommerce table.shop_table td,
.woocommerce:where(body:not(.woocommerce-uses-block-theme))
    .woocommerce-breadcrumb
    a,
.wp-block-woocommerce-customer-account a:hover,
.wc-block-grid__product
    .wc-block-grid__product-price
    ins
    .woocommerce-Price-amount.amount,
.wc-block-grid__product .wc-block-grid__product-title:hover,
.wc-block-grid__product .wc-block-grid__product-price,
.woocommerce
    .widget_block
    .wc-block-active-filters
    .wc-block-active-filters__clear-all,
.wc-block-price-filter .wc-block-components-filter-reset-button,
.service-style-default .service-inner .post-category a,
.service-style-modern .service-inner:hover .post-overlay-items .post-category a,
.portfolio-style-default .portfolio-inner .post-category a:hover,
.portfolio-style-default
    .portfolio-inner
    .post-overlay-items
    .post-icons
    a:hover,
.portfolio-style-classic .portfolio-inner .post-overlay-items .post-icons a,
.cus-portfolio-classic
    .portfolio-style-classic
    .portfolio-inner
    .post-overlay-items
    .post-icons
    a,
.cus-portfolio-classic
    .portfolio-style-classic
    .portfolio-inner
    .post-overlay-items
    .post-icons
    a:hover,
.row.portfolio-details .col-sm-4 > .portfolio-meta span.portfolio-meta-icon,
.testimonial-style-default .testimonial-inner .testimonial-rating,
.team-wrapper.team-style-modern
    .team-inner
    .post-overlay-items
    .post-designation-head,
.cus-tm-wrap
    .testimonial-style-default
    .testimonial-inner
    .testimonial-rating
    p
    i:before,
.hirxpert-masonry .top-meta-wrap .post-date a,
.single .hirxpert-content-wrap .post-inner .post-date a,
.single.single-cea-service
    aside.content-widgets-outer-wrapper
    .widget-content
    .menu
    .menu-item
    a,
.single.single-cea-service
    aside.content-widgets-outer-wrapper
    .widget-content
    .menu
    .menu-item
    a:hover,
.single.single-cea-service
    aside.content-widgets-outer-wrapper
    .widget-content
    .menu
    .current-menu-item.menu-item
    a,
.content-widgets-wrapper
    .content-widgets
    > .widget
    .hirxpert_latest_post_widget
    .side-item
    .side-item-text
    a:hover {
    color: #014e4e;
}

.hirxpert-masonry
    .bottom-meta-wrap
    .post-meta
    li.post-share-wrap
    .social-share
    a:hover,
.single-post ul.social-share > li > a:hover,
.post-share-wrap ul.social-share > li > a,
.wp-block-button.is-style-outline a.wp-block-button__link,
.cea-tab-elementor-widget .cea-tabs > a.active .cea-tab-title,
.woocommerce-page .theme-color,
.hirxpert-masonry .bottom-meta-wrap .post-meta .post-more a,
.feature-box-default .fbox-content a:hover,
.portfolio-style-classic-pro
    .portfolio-inner
    .post-details-outer
    .top-meta
    .post-category
    a {
    color: #014e4e !important;
}

.wp-block-woocommerce-mini-cart
    .wc-block-mini-cart__button:hover
    .wc-block-mini-cart__icon {
    color: #014e4e;
    fill: #014e4e;
}

blockquote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-quote.is-style-large:not(.is-style-plain),
.wp-block-quote.has-text-align-right,
.wp-block-quote,
.woocommerce-message,
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs,
.contact-form-wrapper span.wpcf7-form-control-wrap select:focus,
.contact-form-wrapper span.wpcf7-form-control-wrap textarea:focus,
.single-post .comments-wrapper.section-inner input:focus,
.single-post .comments-wrapper.section-inner textarea:focus,
.modal-popup-body input.wpcf7-form-control:focus,
.modal-popup-body textarea.wpcf7-form-control:focus,
.wp-block-search__input:focus,
.mailchimp-wrapper .input-group input#zozo-mc-email:focus,
.single-cea-testimonial .testimonial-info img,
.cus-float-img .float-parallax img,
.comments-wrapper.section-inner input:focus,
.comments-wrapper.section-inner textarea:focus,
.comments-pagination.pagination .page-numbers,
.team-wrapper.team-style-default
    .team-inner
    > .post-thumb
    img.img-fluid.rounded-circle,
.testimonial-wrapper.testimonial-style-list .post-thumb img,
.timeline > li:hover .timeline-panel,
nav.post-nav-links .post-page-numbers,
.first-widget-abt,
.zozo-booking-form-wrap .bookly-form select:focus,
.zozo-booking-form-wrap .bookly-form input[type="text"]:focus,
.zozo-booking-form-wrap .bookly-form input[type="number"]:focus,
.zozo-booking-form-wrap .bookly-form input[type="password"]:focus,
.zozo-booking-form-wrap .bookly-form textarea:focus,
.wp-block-button.is-style-outline a.wp-block-button__link,
form.post-password-form input:focus,
.elementor-element.border-left-cls:before,
form.form-inline.search-form .input-group > *.form-control:focus,
.team-wrapper.team-style-default .team-inner:after,
.charitable-form-fields input:focus,
.single .content-widgets-wrapper .wp-block-search__input:focus,
.single-cea-team .team-social-wrap ul.social-icons > li > a,
.zozo_social_widget ul.nav.social-icons > li > a,
.zozo_social_widget ul.nav.social-icons > li > a:hover,
.mobile-menu-floating .search-form .search-field:focus,
.widget.widget_search .search-form .search-field:focus,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce div.product div.images.woocommerce-product-gallery,
.woocommerce div.product div.images .flex-control-thumbs li,
.form-control:focus,
.woocommerce form .form-row input.input-text:focus,
.woocommerce form .form-row textarea:focus,
.woocommerce form .form-row .input-text:focus,
.woocommerce-page form .form-row .input-text:focus,
.select2-container--default.select2-container--open.select2-container--below
    .select2-selection--single,
ul.nav.pagination.post-pagination > li > a,
.single-cea-team .team-social-wrap ul.social-icons > li > a,
.error404-content .search-form .search-field:focus {
    border-color: #014e4e;
}

.charitable-donation-form .donation-amount.selected,
.charitable-donation-form .donation-amount.selected,
.charitable-donation-amount-form .donation-amount.selected,
.charitable-notice,
.charitable-drag-drop-images li:hover a.remove-image,
.supports-drag-drop .charitable-drag-drop-dropzone.drag-over,
.cea-mailchimp-style-default input.form-control:focus,
.cea-mailchimp-style-inline input.form-control:focus,
.woocommerce-cart table.cart td.actions .coupon .input-text:focus,
.woocommerce
    .wc-block-components-price-slider__range-input::-webkit-slider-thumb,
.contact-form-wrapper span.wpcf7-form-control-wrap input:focus,
.wpcf7-form.init .wpcf7-form-control-wrap .wpcf7-form-control:focus {
    border-color: #014e4e !important;
}

.testimonial-wrapper.testimonial-style-default .owl-item .testimonial-inner,
.full-search-wrapper form.form-inline.search-form .form-control:focus,
textarea.wpcf7-form-control:focus {
    border-bottom-color: #014e4e;
}

.team-wrapper.team-style-default .team-inner .post-thumb:before,
.woocommerce-info {
    border-top-color: #014e4e;
}

.cea-counter-wrapper.cea-counter-style-modern .counter-value > *,
.portfolio-style-classic .owl-carousel .owl-item:hover:before {
    -webkit-text-stroke: 1px #014e4e;
}

.sidebar-broucher .doc-icon,
.hirxpert-content-wrap aside.content-widgets-outer-wrapper .widget-title:after,
.hirxpert-content-wrap
    .widget.widget_block
    .wp-block-group
    .wp-block-heading::after {
    background: #014e4e;
}

.secondary-color,
.widget-area-right .zozo_social_widget ul.nav.social-icons > li > a:hover,
.hirxpert-masonry .bottom-meta-wrap .post-meta .post-more a,
.woocommerce:where(body:not(.woocommerce-uses-block-theme))
    .woocommerce-breadcrumb
    a:hover,
.woocommerce
    .widget_block
    .wc-block-active-filters
    .wc-block-active-filters__clear-all:hover,
.wc-block-price-filter .wc-block-components-filter-reset-button:hover,
.sidebar-broucher .doc-icon {
    color: #f9d67b;
}

.secondary-bg,
.portfolio-style-classic
    .portfolio-inner
    .post-overlay-items
    .post-icons
    a:hover {
    background-color: #f9d67b;
}

.close:hover,
header a.btn.btn-primary:hover,
.search-form .input-group .btn:hover,
.full-search-wrapper,
.elementor-widget-ceaposts
    .blog-style-classic-pro
    .blog-inner
    .post-date
    a:hover,
.bottom-meta .post-more:hover:before,
.blog .hirxpert-masonry .post-meta .post-more a:hover:before,
.hirxpert-masonry .bottom-meta-wrap .post-meta .post-more a:hover:before,
.woocommerce ul.products li.product .button:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce #content input.button:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce input.button.alt:hover,
.woocommerce input.button.disabled:hover,
.woocommerce input.button:disabled[disabled]:hover,
.cart_totals .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce button.button.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles))
    .woocommerce
    button.button.alt.disabled:hover,
.blog-style-default .blog-inner .post-date a:hover,
.single-post .comments-wrapper.section-inner input.submit,
.portfolio-style-classic-pro
    .portfolio-inner
    .post-details-outer
    .top-meta
    .post-category
    a {
    background-color: #f9d67b;
}

.zozo-booking-form-wrap .bookly-form select,
select,
.cf-style-modern span.wpcf7-form-control-wrap select {
    background-image: url("../wp-content/themes/hirxpert/assets/images/icon-select.png");
}

.cus-testimonial-default
    .testimonial-wrapper.testimonial-style-default
    .testimonial-inner:before {
    background-image: url(https://wordpress.zozothemes.com/hirxpert/wp-content/themes/hirxpert/assets/images/quotation.webp);
}

.elementor-element.border-points:before {
    background-image: url(https://wordpress.zozothemes.com/hirxpert/wp-content/themes/hirxpert/assets/images/arrow-step.png);
}

.elementor-element.border-points:after {
    background-image: url(https://wordpress.zozothemes.com/hirxpert/wp-content/themes/hirxpert/assets/images/arrow-step-after.png);
}

.elementor-element
    .section-title-wrapper
    .title-wrap
    > *
    .subtitle-dots:before {
    background-image: url(https://wordpress.zozothemes.com/hirxpert/wp-content/themes/hirxpert/assets/images/tie.webp);
}

.single.single-cea-team
    .hirxpert-content-wrap
    .team-content-area
    .row.team:before {
    background-image: url(https://wordpress.zozothemes.com/hirxpert/wp-content/themes/hirxpert/assets/images/shape-5.webp);
}

.btn,
button,
.back-to-top,
.header-navbar a.btn.btn-primary,
.widget_search .search-form .input-group .btn,
button.wp-block-search__button,
.btn.bordered:hover,
.close,
button.wp-block-search__button,
.comment-respond input[type="submit"],
.wp-block-button__link,
.button.button-primary,
input[type="button"],
input[type="submit"],
header .mini-cart-dropdown ul.cart-dropdown-menu > li.mini-view-cart a,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
a.zozo-woo-compare-ajax.zozo-btn,
.mini-view-wishlist a,
.mini-view-cart a,
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button,
a.zozo-compare-close,
a.zozo-sticky-cart-close,
a.zozo-sticky-wishlist-close {
    color: #ffffff;
    background-color: #014e4e;
}

.btn:hover,
button:hover,
.back-to-top:hover,
.header-navbar a.btn.btn-primary:hover,
.widget_search .search-form .input-group .btn:hover,
button.wp-block-search__button:hover,
.btn:focus,
button:focus,
.back-to-top:focus,
.header-navbar a.btn.btn-primary:focus,
.widget_search .search-form .input-group .btn:focus,
button.wp-block-search__button:focus,
.btn:active,
button:active,
.back-to-top:active,
.header-navbar a.btn.btn-primary:active,
.widget_search .search-form .input-group .btn:active,
button.wp-block-search__button:active,
.contact-form-wrapper input.wpcf7-form-control.wpcf7-submit:hover,
input[type="submit"]:hover,
header .mini-cart-dropdown ul.cart-dropdown-menu > li.mini-view-cart a:hover,
nav.post-nav-links .post-page-numbers:hover,
.wp-block-button__link:hover,
.wp-block-button.is-style-outline a.wp-block-button__link:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
a.zozo-woo-compare-ajax.zozo-btn:hover,
.mini-view-wishlist a:hover,
.mini-view-cart a:hover,
.woocommerce .woocommerce-error .button:hover,
.woocommerce .woocommerce-info .button:hover,
.woocommerce .woocommerce-message .button:hover,
.woocommerce-page .woocommerce-error .button:hover,
.woocommerce-page .woocommerce-info .button:hover,
.woocommerce-page .woocommerce-message .button:hover,
a.zozo-compare-close:hover,
a.zozo-sticky-cart-close:hover,
a.zozo-sticky-wishlist-close:hover {
    color: #ffffff;
    background-color: #f9d67b;
}

.header-topbar a {
    color: #014e4e;
}

.hirxpert-content-wrap {
    padding-top: 120px;
    padding-bottom: 120px;
}

@media only screen and (max-width: 1024px) {
    .header-mobilebar {
        display: flex;
    }

    .site-header {
        display: none;
    }

    .header-mobilebar.navbar {
        background-color: #ffffff !important;
    }

    .mobile-menu-active .mobile-menu-floating {
        background-color: #ffffff !important;
    }

    .mobile-menu-active .mobile-menu-floating * {
        color: #222222;
    }

    .mobile-menu-floating i.close-icon:after,
    .mobile-menu-floating i.close-icon:before {
        border-bottom-color: #222222;
    }
}

@media only screen and (min-width: 1025px) {
    .site-header {
        display: block;
    }

    .header-mobilebar {
        display: none;
    }

    .header-mobilebar.navbar {
        background-color: #ffffff !important;
    }

    .mobile-menu-active .mobile-menu-floating {
        background-color: #ffffff !important;
    }

    .mobile-menu-active .mobile-menu-floating * {
        color: #222222;
    }

    .mobile-menu-floating i.close-icon:after,
    .mobile-menu-floating i.close-icon:before {
        border-bottom-color: #222222 !important;
    }
}

.page-loader {
    background-image: url(https://wordpress.zozothemes.com/hirxpert/wp-content/uploads/sites/38/2025/03/hir-loader.gif);
}

body {
    color: #666666;
    font-family: DM Sans;
    font-size: 16px;
    line-height: 28px;
}

.lead {
    color: #666666;
    font-family: DM Sans;
    font-size: 18px;
    line-height: 24px;
}

h1,
.h1 {
    color: #222222;
    font-family: Sora;
    font-size: 54px;
    line-height: 64px;
}

h2,
.h2 {
    color: #222222;
    font-family: Sora;
    font-size: 48px;
    line-height: 58px;
}

h3,
.h3 {
    color: #222222;
    font-family: Sora;
    font-size: 38px;
    line-height: 50px;
}

h4,
.h4 {
    color: #222222;
    font-family: Sora;
    font-size: 26px;
    line-height: 36px;
}

h5,
.h5 {
    color: #222222;
    font-family: Sora;
    font-size: 21px;
    line-height: 32px;
}

h6,
.h6 {
    color: #222222;
    font-family: Sora;
    font-size: 17px;
    line-height: 30px;
}

@media only screen and (max-width: 767px) {
}

.site-header {
    font-family: Sora;
}

.site-header {
    background-color: rgba(255, 255, 255, 0);
}

.site-header {
    border-top-width: 2px;
    border-top-style: none;
    border-right-width: 2px;
    border-right-style: none;
    border-bottom-width: 2px;
    border-bottom-style: none;
    border-left-width: 2px;
    border-left-style: none;
}

.primary-menu .menu-item-has-children ul.sub-menu {
    background-color: rgb(255, 255, 255);
}

.primary-menu .menu-item-has-children ul.sub-menu li a {
    color: #222222;
}

.primary-menu .menu-item-has-children ul.sub-menu li a:hover {
    color: #014e4e;
}

.primary-menu .menu-item-has-children ul.sub-menu li a:active,
.primary-menu li.current-menu-parent > ul.sub-menu > li.current-menu-item > a,
.primary-menu
    li.current-menu-parent
    > ul.sub-menu
    > li.current-menu-ancestor.current-menu-item
    > a,
ul.wp-menu
    ul.sub-menu
    li.menu-item.current-menu-ancestor.menu-item-has-children
    > a {
    color: #014e4e;
}

.header-topbar {
    font-family: Sora;
    font-size: 15px;
}

.header-topbar {
    line-height: 40px;
}

.header-topbar {
    background-color: rgb(5, 7, 28);
}

.header-topbar {
    padding-right: 35px;
    padding-left: 35px;
}

.header-topbar {
    border-bottom-width: 1px;
    border-bottom-style: none;
    border-bottom-color: rgba(255, 255, 255, 0.2);
}

.header-topbar a {
    color: #222222;
}

.header-topbar a:hover {
    color: #014e4e;
}

.header-topbar a:active,
.header-topbar ul.wp-menu > li.current-menu-item > a,
.header-topbar
    ul.nav.wp-menu
    > li.menu-item-has-children.current_page_parent
    > a,
.header-topbar
    ul.nav.wp-menu
    > li.menu-item-has-children.current-menu-ancestor
    > a {
    color: #014e4e;
}

.header-logobar {
    line-height: 120px;
}

.header-logobar {
    background-color: rgb(255, 255, 255);
}

.header-logobar {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 30px;
}

.header-navbar {
    font-family: Sora;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header-navbar {
    line-height: 100px;
}

.header-sticky .header-navbar {
    line-height: 90px;
}

.header-navbar {
    background-color: rgb(255, 255, 255);
}

.header-navbar {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.06);
}

.header-navbar a {
    color: #222222;
}

.header-navbar a:hover {
    color: #014e4e;
}

.header-navbar a:active,
.header-navbar ul.wp-menu > li.current-menu-item > a,
.header-navbar
    ul.nav.wp-menu
    > li.menu-item-has-children.current-menu-ancestor
    > a {
    color: #014e4e;
}

.sticky-head.header-sticky .header-navbar {
    background-color: rgb(255, 255, 255);
}

.sticky-head.header-sticky .header-navbar a {
    color: #222222;
}

.sticky-head.header-sticky .header-navbar a:hover {
    color: #014e4e;
}

.sticky-head.header-sticky .header-navbar a:active,
.sticky-head.header-sticky .header-navbar ul.wp-menu > li.current-menu-item > a,
.sticky-head.header-sticky
    .header-navbar
    ul.nav.wp-menu
    > li.menu-item-has-children.current-menu-ancestor
    > a,
.sticky-head.header-sticky .header-navbar a.active {
    color: #014e4e;
}

img.site-logo {
    max-width: 180px;
}

img.sticky-logo {
    max-width: 180px;
}

img.mobile-logo {
    max-width: 150px;
}

.blog .page-title-wrap .page-title,
.blog .page-title-wrap .breadcrumb li {
    color: #ffffff;
}

.blog .page-title-wrap .breadcrumb a {
    color: #ffffff;
}

.blog .page-title-wrap .breadcrumb a:hover {
    color: #f9d67b;
}

.blog .page-title-wrap .breadcrumb a:active {
    color: #f9d67b;
}

.blog .hirxpert-page-header {
    background-image: url(https://wordpress.zozothemes.com/hirxpert/wp-content/uploads/sites/38/2025/02/page-title-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.blog .page-title-wrap {
    padding-top: 200px;
    padding-bottom: 115px;
}

.blog .hirxpert-page-header:after {
    background-color: rgba(1, 78, 78, 0.72);
}

.archive .page-title-wrap .page-title,
.archive .page-title-wrap .breadcrumb li,
.search .page-title-wrap .page-title,
.search .page-title-wrap .breadcrumb li {
    color: #ffffff;
}

.archive .page-title-wrap .breadcrumb a,
.search .page-title-wrap .breadcrumb a {
    color: #ffffff;
}

.archive .page-title-wrap .breadcrumb a:hover,
.search .page-title-wrap .breadcrumb a:hover {
    color: #f9d67b;
}

.archive .page-title-wrap .breadcrumb a:active,
.search .page-title-wrap .breadcrumb a:active {
    color: #f9d67b;
}

.archive .hirxpert-page-header,
.search .hirxpert-page-header {
    background-image: url(https://wordpress.zozothemes.com/hirxpert/wp-content/uploads/sites/38/2025/02/page-title-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.archive .page-title-wrap,
.search .page-title-wrap {
    padding-top: 200px;
    padding-bottom: 115px;
}

.archive .hirxpert-page-header:after,
.search .hirxpert-page-header:after {
    background-color: rgba(1, 78, 78, 0.72);
}

.single-post .page-title-wrap .page-title,
.single-post .page-title-wrap .breadcrumb li,
.single-product .page-title-wrap .page-title,
.single-product .page-title-wrap .breadcrumb li,
.single-campaign .page-title-wrap .page-title,
.single-campaign .page-title-wrap .breadcrumb li {
    color: #ffffff;
}

.single-post .page-title-wrap .breadcrumb a,
.single-product .page-title-wrap .breadcrumb a,
.single-campaign .page-title-wrap .breadcrumb a {
    color: #ffffff;
}

.single-post .page-title-wrap .breadcrumb a:hover,
.single-product .page-title-wrap .breadcrumb a:hover,
.single-campaign .page-title-wrap .breadcrumb a:hover {
    color: #f9d67b;
}

.single-post .page-title-wrap .breadcrumb a:active,
.single-product .page-title-wrap .breadcrumb a:active,
.single-campaign .page-title-wrap .breadcrumb a:active {
    color: #f9d67b;
}

.single-post .hirxpert-page-header,
.single-product .hirxpert-page-header,
.single-campaign .hirxpert-page-header {
    background-image: url(https://wordpress.zozothemes.com/hirxpert/wp-content/uploads/sites/38/2025/02/page-title-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.single-post .page-title-wrap,
.single-product .page-title-wrap,
.single-campaign .page-title-wrap {
    padding-top: 200px;
    padding-bottom: 115px;
}

.single-post .hirxpert-page-header:after,
.single-product .hirxpert-page-header:after,
.single-product .hirxpert-page-header:after,
body.single-doctors-directory.doctors-directory-template-default
    .hirxpert-page-header:after {
    background-color: rgba(1, 78, 78, 0.72);
}

.page .page-title-wrap .page-title,
.page .page-title-wrap .breadcrumb li,
.error404 .page-title-wrap .page-title,
.error404 .page-title-wrap .breadcrumb li {
    color: #ffffff;
}

.page .page-title-wrap .page-subtitle,
.error404 .page-title-wrap .page-subtitle {
    color: #ffffff;
}

.page .page-title-wrap .breadcrumb a,
.error404 .page-title-wrap .breadcrumb a {
    color: #ffffff;
}

.page .page-title-wrap .breadcrumb a:hover,
.error404 .page-title-wrap .breadcrumb a:hover {
    color: #f9d67b;
}

.page .page-title-wrap .breadcrumb a:active,
.error404 .page-title-wrap .breadcrumb a:active {
    color: #f9d67b;
}

.page .hirxpert-page-header,
.error404 .hirxpert-page-header {
    background-image: url(https://wordpress.zozothemes.com/hirxpert/wp-content/uploads/sites/38/2025/02/page-title-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.page .page-title-wrap,
.error404 .page-title-wrap {
    padding-top: 200px;
    padding-bottom: 115px;
}

.page .hirxpert-page-header:after,
.error404 .hirxpert-page-header:after {
    background-color: rgba(1, 78, 78, 0.72);
}

.single[class*="single-cea-"] .page-title-wrap .page-title,
.single[class*="single-cea-"] .page-title-wrap .breadcrumb li {
    color: #ffffff;
}

.single[class*="single-cea-"] .page-title-wrap .breadcrumb a {
    color: #ffffff;
}

.single[class*="single-cea-"] .page-title-wrap .breadcrumb a:hover {
    color: #f9d67b;
}

.single[class*="single-cea-"] .page-title-wrap .breadcrumb a:active {
    color: #f9d67b;
}

.single[class*="single-cea-"] .hirxpert-page-header {
    background-image: url(https://wordpress.zozothemes.com/hirxpert/wp-content/uploads/sites/38/2025/02/page-title-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.single[class*="single-cea-"] .page-title-wrap {
    padding-top: 200px;
    padding-bottom: 115px;
}

.single[class*="single-cea-"] .hirxpert-page-header:after {
    background-color: rgba(1, 78, 78, 0.72);
}

.single.single-cea-service .page-title-wrap .page-title,
.single-cea-service .page-title-wrap .breadcrumb li {
    color: #ffffff;
}

.single.single-cea-service .page-title-wrap .breadcrumb a:hover {
    color: #f9d67b;
}

.single.single-cea-service .page-title-wrap .breadcrumb a:active {
    color: #f9d67b;
}

.single.single-cea-service .hirxpert-page-header {
    background-repeat: no-repeat;
    background-size: cover;
}

.single.single-cea-service .page-title-wrap {
    padding-top: 200px;
    padding-bottom: 115px;
}

.single.single-cea-service .hirxpert-page-header:after {
    /* background-color: */
}

.single.single-cea-team .page-title-wrap .page-title,
.single-cea-team .page-title-wrap .breadcrumb li {
    color: #ffffff;
}

.single.single-cea-team .page-title-wrap .breadcrumb a:hover {
    color: #f9d67b;
}

.single.single-cea-team .page-title-wrap .breadcrumb a:active {
    color: #f9d67b;
}

.single.single-cea-team .hirxpert-page-header {
    background-repeat: no-repeat;
    background-size: cover;
}

.single.single-cea-team .page-title-wrap {
    padding-top: 200px;
    padding-bottom: 115px;
}

.single.single-cea-team .hirxpert-page-header:after {
    /* background-color: */
}

.single.single-cea-testimonial .page-title-wrap .breadcrumb a:hover {
    color: #f9d67b;
}

.single.single-cea-testimonial .page-title-wrap .breadcrumb a:active {
    color: #f9d67b;
}

.single.single-cea-testimonial .hirxpert-page-header {
    background-repeat: no-repeat;
    background-size: cover;
}

.single.single-cea-testimonial .page-title-wrap {
    padding-top: 200px;
    padding-bottom: 115px;
}

.single.single-cea-testimonial .hirxpert-page-header:after {
    /* background-color: */
}

.single.single-cea-portfolio .page-title-wrap .breadcrumb a:hover {
    color: #f9d67b;
}

.single.single-cea-portfolio .page-title-wrap .breadcrumb a:active {
    color: #f9d67b;
}

.single.single-cea-portfolio .hirxpert-page-header {
    background-repeat: no-repeat;
    background-size: cover;
}

.single.single-cea-portfolio .page-title-wrap {
    padding-top: 200px;
    padding-bottom: 115px;
}

.single.single-cea-portfolio .hirxpert-page-header:after {
    /* background-color: */
}

.single.single-cea-event .page-title-wrap .breadcrumb a:hover {
    color: #f9d67b;
}

.single.single-cea-event .page-title-wrap .breadcrumb a:active {
    color: #f9d67b;
}

.single.single-cea-event .hirxpert-page-header {
    background-repeat: no-repeat;
    background-size: cover;
}

.single.single-cea-event .page-title-wrap {
    padding-top: 200px;
    padding-bottom: 115px;
}

.single.single-cea-event .hirxpert-page-header:after {
    /* background-color: */
}

.site-footer {
    background-image: url(https://wordpress.zozothemes.com/hirxpert/wp-content/uploads/sites/38/2025/02/footer-bg-1.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.site-footer {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.insta-footer-wrap {
    background-repeat: no-repeat;
    background-position: center center;
}

.insta-footer-wrap {
    padding-top: 20px;
    padding-right: 48px;
    padding-bottom: 44px;
    padding-left: 48px;
}

.insta-footer-wrap {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.12);
}

.insta-footer-wrap a {
    color: #ababab;
}

.insta-footer-wrap a:hover {
    color: #014e4e;
}

.insta-footer-wrap a:active {
    color: #014e4e;
}

.footer-widgets-wrap {
    font-size: 16px;
    line-height: 30px;
}

.footer-widgets-wrap {
    background-image: url(https://wordpress.zozothemes.com/hirxpert/wp-content/uploads/sites/38/2025/02/footer-bg-1.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.footer-widgets-wrap {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-widgets-wrap {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.12);
}

.footer-widgets-wrap a {
    color: #c1c1c1;
}

.footer-widgets-wrap a:hover {
    color: #014e4e;
}

.footer-widgets-wrap a:active {
    color: #014e4e;
}

.footer-bottom-wrap {
    font-size: 16px;
    line-height: 30px;
}

.footer-bottom-wrap {
    background-color: rgba(255, 255, 255, 0);
}

.footer-bottom-wrap {
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-bottom-wrap {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.footer-bottom-wrap a {
    color: #f9d67b;
}

.footer-bottom-wrap a:hover {
    color: #ffffff;
}

.footer-bottom-wrap a:active {
    color: #ffffff;
}

.secondary-bar-wrapper {
    background: linear-gradient(90deg, #014e4e 0, #f9d67b 100%);
}

.page-load-initiate .page-loader:before,
.page-load-end .page-loader:before,
.page-load-initiate .page-loader:after,
.page-load-end .page-loader:after {
    background: linear-gradient(90deg, #014e4e 0, #f9d67b 100%);
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f9d67b),
        to(#014e4e)
    );
    background: -webkit-linear-gradient(left, #f9d67b 0, #014e4e 100%);
    background: -o-linear-gradient(left, #f9d67b 0, #014e4e 100%);
    background: linear-gradient(to right, #f9d67b 0, #014e4e 100%);
}

.secondary-bar-inner {
    width: 460px;
}

.secondary-bar-wrapper.from-left .secondary-bar-inner {
    left: -460px;
}

.secondary-bar-wrapper.from-right .secondary-bar-inner {
    right: -460px;
}

.hirxpert-content-wrap {
    padding-top: 0px;
    padding-bottom: 0px;
}
