.drpdwn:hover {
    background-color: #4e73df;
    color: #ffff;
}
.drpdwn-dgr:hover {
    background-color: red;
    color: #ffff;
}
.drpdwn-scs:hover {
    background-color: rgb(0, 185, 52);
    color: #ffff;
}
.dropdown-menu2 {
    background-color: #f3f3f3;
    border: 0.1rem solid #5a5c68;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.586);
}
.truncate-text {
    white-space: normal;
}
.left-align {
    text-align: left;
}
.text-bold {
    font-weight: bold;
}

.select2-selection__rendered {
    line-height: 35px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 35px !important;
}
.modal-header {
    background-color: #5156be;
    color: white;
    border-bottom: none;
}

.modal-header .modal-title {
    color: inherit;
}

.modal-header button.btn-close {
    background-color: #ffffff;
}
.lmt {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(6ch + 1em);
}

/* MAIN CARD SCROLL */
.contentScroll {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}
@media (min-height: 0px) {
    .contentScroll {
        height: 0vh;
    }
}
@media (min-height: 200px) {
    .contentScroll {
        height: 10vh;
    }
}
@media (min-height: 300px) {
    .contentScroll {
        height: 50vh;
    }
}
@media (min-height: 500px) {
    .contentScroll {
        height: 55vh;
    }
}
@media (min-height: 600px) {
    .contentScroll {
        height: 60vh;
    }
}
@media (min-height: 700px) {
    .contentScroll {
        height: 63vh;
    }
}
@media (min-height: 750px) {
    .contentScroll {
        height: 65vh;
    }
}
@media (min-height: 800px) {
    .contentScroll {
        height: 73vh;
    }
}
@media (min-height: 900px) {
    .contentScroll {
        height: 78vh;
    }
}
.footer-text {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-shadow {
    border: 2px solid #bbbbbb;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

/* BG COLOR CARD */
body:not([data-bs-theme="dark"]) .header-detail-a {
    background-color: #dddddd;
}
body:not([data-bs-theme="dark"]) .body-detail-a {
    background-color: #eeeeee;
}
/* Dark Theme */
body[data-bs-theme="dark"] .header-detail-a {
    background-color: #383d3b;
}
body[data-bs-theme="dark"] .body-detail-a {
    background-color: #495057;
}

.card-profile-image {
    text-align: center;
}
.card-profile-image img {
    margin: 8px 0;
    max-width: 180px;
    border-radius: 0.35rem;
    transition: all 0.2s ease-in-out;
}
@media (max-width: 767.98px) {
    .card-profile-image img {
        max-width: 150px;
    }
}

.bg-company {
    position: relative;
    background: url("/assets/images/background/MSKDealer.jpeg") no-repeat center
        top;
    background-size: cover;
    min-height: 60vh;
    z-index: auto;
}
.bg-company::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}
.bg-repeat-cover-overlay {
    background: url("/assets/images/background/MSK.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8); /* Transparent black overlay */
}
.offcanvas-logo {
    max-width: 150px;
    height: auto;
}

.background-section {
    background-image: url("/assets/images/background/MSK.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
a.my-link:hover {
    color: red !important;
}
.career-card {
    border: 2px solid #d0d0d0;
    border-radius: 12px;
    transition: all 0.3s ease;
    background: #fff;
}
.career-card:hover,
.career-card:focus,
.career-card:active {
    border-color: red;
    transform: scale(1.01);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}
.career-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.custom-pagination .page-link {
    color: #dc3545;
    border: 1px solid #dc3545;
    margin: 0 3px;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.custom-pagination .page-item.active .page-link {
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
}
.custom-pagination .page-link:hover {
    background-color: #dc3545;
    color: #fff;
    border-color: #dc3545;
}
.custom-pagination .page-item.disabled .page-link {
    color: #ccc;
    border-color: #ccc;
    background-color: transparent;
}
.form-control::placeholder {
    font-size: small;
    opacity: 0.5; 
}